{% extends "_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head_tail %}
    <script>
        function processLog_read(name) {
            $.get("{{ url_for('supervisor_bp.processLog_read') }}?name=" + name,
                function (data, status) {
                    $("#process_log").html(data);
                });
        }

    </script>
{% endblock head_tail %}

{% block page_content %}

    <div class="page-header">
        <h1>supervisor进程管理</h1>
    </div>
    {% if supervisor %}
        {% if supervisor.is_login %}
            <div>

                {# <h3>主机：{{ supervisor_bp.host }} 端口：{{ supervisor_bp.port }}</h3> #}

                <table class="table">
                    <thead>
                    <tr>
                        <th>状态</th>
                        <th>描述</th>
                        <th>名称</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for item in supervisor.getAllProcessInfo() %}
                        <tr>
                            {# 状态 #}
                            <td>
                                {% if "RUNNING"==item.statename %}
                                    <dev class="bg-success"> {{ item.statename | lower() }}</dev>
                                {% elif "STOPPED"==item.statename %}
                                    <dev class="bg-info"> {{ item.statename | lower() }}</dev>
                                {% else %}
                                    <dev class="bg-warning"> {{ item.statename | lower() }}</dev>
                                {% endif %}
                            </td>
                            {# 描述 #}
                            <td>{{ item.description }}</td>
                            {# 名称 #}
                            <td>
                                <a onclick="processLog_read('{{ item.name }}')">
                                    {{ item.name }}
                                </a>
                            </td>
                            <td>
                                <div>
                                    {% if item.state == 20 %}
                                        <a type="button" class="btn btn-danger"
                                           href="{{ url_for('supervisor_bp.process_stop') }}?name={{ item.name }}">停止</a>
                                    {% else %}
                                        <a type="button" class="btn btn-success"
                                           href="{{ url_for('supervisor_bp.process_start') }}?name={{ item.name }}">启动</a>

                                    {% endif %}
                                    <a type="button" class="btn btn-primary"
                                       href="{{ url_for('supervisor_bp.processLog_clear') }}?name={{ item.name }}">清除日志</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

                {% else %} {# supervisor_bp.is_login #}
                <div>
                    <p>
                        请先配置upervisor
                    </p>

                    <div class="col-md-4">
                        {{ wtf.quick_form(form) }}
                    </div>
                </div>

            </div>

        {% endif %} {# supervisor_bp.is_login #}

        <div>
            日志打印：
        </div>
        <div id="process_log">
        </div>
    {% endif %} {# supervisor_bp #}
{% endblock %}